/* Insert your pool's unique CSS here */

.brand { padding-top: 5px }
.brand img.img-responsive {
  margin: 0 auto;
}

.nav-side-menu {
    background: #164450;
}

.nav-side-menu ul .active, .nav-side-menu li .active {
    border-left: 3px solid #5fbcd3;
    background-color: #2c89a0;
}

.infoBox {
background: #2c89a0; /* Old browsers */
background: -moz-linear-gradient(45deg, #2c89a0 0%, #5fbcd3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #2c89a0 0%,#5fbcd3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #2c89a0 0%,#5fbcd3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c89a0', endColorstr='#5fbcd3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.mergedBg {
    background: #3b5ca3;
}

#top-bar {
    background-color: #164450;
}

.infoBox .content .value sup {
    top: -.9em;
    text-decoration: none;
    text-shadow: none;
    font-size: 45%;
    right: -3px;
    font-weight: normal;
}

#infoBlocksTotal .content .value .smallText {
    font-size: 15px;
    font-weight: normal;
    /*display: block;*/
    /*text-shadow: none;*/
    margin-top: -3px;
}

#infoBlocksFound .content .value .smallText {
    font-size: 15px;
    font-weight: normal;
    /*display: block;*/
    /*text-shadow: none;*/
    margin-top: -3px;
}

.nav-side-menu {
    background: #164450;
}

.nav-side-menu .brand {
    background: #164450;
    color: #fff;
}
.nav-side-menu .brand a {
    color: #fff;
    font-size: 16px;
}

.brand { padding-top: 5px }
.brand img.img-responsive {
  margin: 0 auto;
}

.nav-side-menu ul .active, .nav-side-menu li .active {
    border-left: 3px solid #5fbcd3;
    background-color: #2c89a0;
}

.infoBox {
background: #2c89a0; /* Old browsers */
background: -moz-linear-gradient(45deg, #2c89a0 0%, #5fbcd3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #2c89a0 0%,#5fbcd3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #2c89a0 0%,#5fbcd3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c89a0', endColorstr='#5fbcd3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.mergedBg {
    background: #3b5ca3;
}

#top-bar {
    background-color: #164450;
}

.infoBox .content .value sup {
    top: -.9em;
    text-decoration: none;
    text-shadow: none;
    font-size: 45%;
    right: -3px;
    font-weight: normal;
}

#infoBlocksTotal .content .value .smallText {
    font-size: 15px;
    font-weight: normal;
    /*display: block;*/
    /*text-shadow: none;*/
    margin-top: -3px;
}

#infoBlocksFound .content .value .smallText {
    font-size: 15px;
    font-weight: normal;
    /*display: block;*/
    /*text-shadow: none;*/
    margin-top: -3px;
}

.dropdown-menu {
    position: relative;
}

ul .dropdown-menu {
    background-color: #245d5d;
    min-width: 100%;
}

ul .dropdown-menu a:hover {
    background-color: #031d1db8;
}

ul #contact {
    min-width: 100%;
    background: #245d5db8;
}

ul:hover #contact a:hover {
    background-color: #031d1db8;
}

.infoAlert {
    background-color: #014e71;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    cursor: default;
    padding: 15px;
    border-radius: 3px;
    color: #fff;
}
.invert {
    transform: scaleX(-1);
    margin-left: 5px;
    margin-right: -5px;
}

.coinexchange {
    padding-left: 1rem;
    padding-right: 1rem;
}

.darkmode {
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 10000;
    opacity: 1;
}

pre code {
    color: #000000;
    white-space: pre-line;
}

b, strong {
    font-weight: bolder;
    font-size: medium;
}

#priceExchange {
    text-align: center;
}

@media (min-width: 1298px) {
    .brand .coin-hide {
        display: none;
    }
    #statsUpdated {
        display: inline-block !important;
    }
}
@media (max-width: 1297px) {
    .exchange {
        height: 115px;
    }
}
@media (min-width: 992px) and (max-width: 1297px) {
    .brand .coin-hide {
        display: none;
    }
    #statsUpdated {
        display: none !important;
    }
    #langSelector {
        display: none !important;
    }
}
@media (max-width: 992px) {
    .brand.coin-hide {
        display: none;
    }
    #langSelector {
        display: none !important;
    }
}

/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: rgb(68, 68, 68);
    color: white;
}

body.dark-mode .infoBox {
    background: #000000; 
    background: -moz-linear-gradient(45deg, #000000 0%, #455a5f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #000000 0%,#455a5f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #000000 0%,#455a5f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c89a0', endColorstr='#5fbcd3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}  
body.dark-mode .btn-primary {
    background: #000000;
    border-color: #606060;
}  
body.dark-mode .nav-side-menu, body.dark-mode .brand, body.dark-mode #top-bar{
    background: #000000;
}

body.dark-mode .dropdown-menu,  body.dark-mode .dropdown-menu li {
    background: #2e2e2e;
}

body.dark-mode .infoAlert {
    background: #2e2e2e;
    border: 2px #606060 solid;
}

body.dark-mode .hashInfo {
    background: #2e2e2e;
}

body.dark-mode .card, body.dark-mode .nav-side-menu .active {
    background: #838383;
}

body.dark-mode .nav-side-menu li:hover {
    background: #414040;
    border-left-color: #ffffff;
}

body.dark-mode .nav-side-menu ul .active {
    border-left-color: #ffffff;
}

body.dark-mode .stats > div:not(#addressError) > i.fa {
    color: #ffffff;
}

body.dark-mode .stats > div:not(#addressError) > span:not(.input-group-btn):first-of-type {
    color: #ffffff;
}

body.dark-mode .table > thead > tr > th {
    color: #ffffff;
    border-bottom-color: #bbbbbb;
}

body.dark-mode a {
    color: #ffffffbd;
    border-bottom-color: #bbbbbb;
}